# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.IceCapeTruck.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\User\Desktop\Studies\Year 3\XR, Future Realities\EX4_IceCapeTruck\IceCapeTruck\.idea\.idea.IceCapeTruck\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
