# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.EX3_MiniEscapeRoom.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\User\Desktop\Studies\Year 3\XR, Future Realities\EX3_MiniEscapeRoom\.idea\.idea.EX3_MiniEscapeRoom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
